{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <form action="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Register">
            </form>
        </table>
    </form>
    <p>Já possui uma conta? <a href="{% url 'HotelApp:login' %}">Login</a></p>
</body>
</html>