<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas</title>
</head>
<body>
    
    {% if request.user.is_authenticated %}
        <p>{{request.user}}</p>
        <a href="{% url 'HotelApp:logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'HotelApp:login' %}">Login</a>
    {% endif %}
    <hr>
    <h1>Lista de Reservas Efetuadas</h1>
    <a href="{% url 'HotelApp:reserva-criar' %}">Criar nova reserva</a>

    <form method="GET">
        <input id="dataEntrada" type="text" name="search-area" value="{{search_input}}">
        <input type="submit" value="Search"> Procure reservas por meio das datas de entrada no formato AAAA-MM-DD
    </form>

    <table>
        <tr>
            <th>
                Reserva
            </th>
        </tr>
        {% for reserva in reservas %}
        <tr>
            <td id="exibeData">
                Data de entrada: {{reserva.dataEntrada}}
                Data de saída: {{reserva.dataSaida}}
                Horário de entrada: {{reserva.horarioEntrada}}
                Horário de saída: {{reserva.horarioSaida}}
                <!-- <a href="{% url 'HotelApp:reserva-detalhes' pk=reserva.id %}">Detalhes</a> -->
                <a href="{% url 'HotelApp:reserva-editar' pk=reserva.id %}">Editar</a>
                <a href="{% url 'HotelApp:reserva-deletar' pk=reserva.id %}">Excluir</a>
            </td>
        </tr>
        {% empty %}
            <h3>Não há nenhuma reserva efetuada</h3>
        {% endfor %}
    </table>
</body>
</html>